<div *ngIf="appStatus" class="row mt-5">
    <div class="col">
        <p>
            Welcome to the fifteensquared crossword utilities.
            This application allows you to solve crosswords online and helps you create a blog for
            <a href="http://fifteensquared.net/" target="fifteensquared">fifteensquared</a>.
            To get started <span *ngIf="!credentials.authenticated">first <a routerLink="/login">login</a>.  You can then</span> download
            the most recent puzzle from the Latest menu above. Puzzles for other dates can be found from the Archive menu.
        </p>
    </div>
</div>

<ng-container *ngIf="appStatus && puzzleList">
    <div class="row mt-3">
        <div class="col">
            <h4>Saved puzzles</h4>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Setter</th>
                        <th>Title</th>
                        <th>Date</th>
                        <th></th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of puzzleList">
                        <td>{{item.info.setter}}</td>
                        <td (click)="onTrace(item)">{{item.info.title}}</td>
                        <td>{{item.info.puzzleDate | date : "fullDate"}}</td>
                        <td>{{item.info.wordpressId | wordpressId}}</td>
                        <td><button type="button" class="btn btn-primary mr-3" (click)="onOpenSaved(item.info.id)">Open</button></td>

                        <td>    
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>More...</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem (click)="onEdit(item.info.id)">Edit</button>
                                    <button ngbDropdownItem (click)="onDelete(item.info.id)">Delete</button>
                                    <button ngbDropdownItem (click)="onPreview(item.info.id)">Preview</button>
                                </div>
                            </div>
                        </td>

                    </tr>

                </tbody>
            </table>

            <app-tip *ngIf="puzzleList && puzzleList.length === 0" key="general">You have no saved puzzles. Open a puzzle from the <em>Puzzle</em> menu to get started.</app-tip>

        </div>
    </div>
</ng-container>

<ng-container *ngIf="appStatus && gridList &&  gridList.length > 0">
    <div class="row mt-3">
        <div class="col">
            <h4>Saved grids</h4>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th></th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of gridList">
                        <td>{{item.info.title}}</td>
                        <td>{{item.info.puzzleDate | date : "fullDate"}}</td>
                        <td>{{item.info.wordpressId | wordpressId}}</td>
                        <td><button type="button" class="btn btn-primary mr-3" (click)="onOpenSavedGrid(item.info.id)">Open</button></td>
                        <td><button type="button" class="btn btn-primary" (click)="onDelete(item.info.id)">Delete</button>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</ng-container>

<!-- <button class="btn btn-primary" (click)="test()">TEST</button> result = {{result}} -->

<pre *ngIf="settings.traceOutput">
{{ trace | json }}
</pre>