<h3>Guardian and Azed Puzzles</h3>

<div class="mt-3">
    <app-info-panel>
        <p>
            I am curretnly experiencing a problem downloading puzzles automatically from the Guardian Media websites.
            This includes the Guardian Cryptic, Azed and Everymam. Until I can find out why requests to the Guardian
            websites
            are being refused you will need to download these puzzles manually.
        </p>
        <p>
            The steps to do this are:
        </p>
        <ol>
            <li class="mt-3">Go to <a href="https://www.theguardian.com/crosswords" target="_blank">The Guardian website</a>
                and find the puzzle you want</li>
            <li class="mt-3"><div>
                Find and click the link named <b>PDF Version</b>
                <img class="d-block mt-2" src="/assets/pdflink.png">
            </div></li>
            <li class="mt-3">In your PDF viewer save (or download) the file to your local hard drive</li>
            <li class="mt-3">Once you have downloaded the PDF file go to the <b>Open a PDF</b> and follow the instructions</li>
        </ol>
    </app-info-panel>
</div>

<div class="mt-3">
    <div>I want to load a puzzle from a PDF file on my computer</div>
    <button class="btn btn-primary mt-3" (click)="onPdf()">Open a PDF</button>
</div>

<div class="mt-5">
    <app-info-panel>
        <p>
            <b>NOTE:</b>
        </p>
        <p>
            The <b>Guardian Quiptic</b> does not have a PDF Version link.
        </p>
        <p>
            To download the Quiptic you will need to follow the Print link and then download the following page as a PDF using your browser's
            built-in PDF tool.  How you do this varies from browser to browser.
        </p>
    </app-info-panel>
</div>