<div class="row mt-3">
    <div class="col">
        <h3>Guardian and Observer puzzles by date</h3>
    </div>
    <p>
        This page gives an alternative way to load puzzles from the Guardian newspaper.
    </p>
    <p>
        The puzzles will be loaded via the puzzle's PDF file on the Guardian website.
        This can be useful for "holiday specials" and other puzzles that will not load automatically from the 
        main crossword page.
    </p>
</div>

<div class="row mt-3">
    <div class="col">
        <form [formGroup]="form">

            <div class="mb-3">

                <select class="form-select" class="form-control" formControlName="provider">
                    <option disabled value="">Select a puzzle...</option>
                    <option value="cryptic-pdf">Guardian Cryptic</option>
                    <option value="prize-pdf">Guardian Prize</option>
                </select>
            </div>

            <div class="mb-3" *ngIf="form.value.provider">
                <label class="form-label" for="datePicker">Puzzle date</label>

                <input id="datePicker" type="text" class="form-control" formControlName="date"
                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" [maxDate]="today"
                    [daysDisabled]="daysDisabled" bsDatepicker>
            </div>

            <div class="form-group mt-5">
                <button class="btn btn-primary me-3" type="button" (click)="openPuzzleByDate()"
                    [disabled]="!form.valid">Open</button>
            </div>
        </form>
    </div>
</div>