<app-info-panel>
    <p>
        You can correct errors in the grid here.
    </p><p>
        Click on a cell to add or remove lights in the grid.
    </p><p>
        For barred grids click on the cell edges to add or remove a bar.
    </p><p>
        <em>(More powerful grid tools are available using the grid editor. From the Home page open this puzzle using the </em>More->Edit<em> button)</em>
    </p>

</app-info-panel>

<div class="row">
    <div class="col d-flex justify-content-center">
        <app-grid 
            (cellClick)="onCellClick($event)" 
            (barClick)="onBarClick($event)" 
            [options]="{ hideShading: true, hideHighlight: true }">
        </app-grid>
    </div>

</div>

<div class="row">
    <div class="col d-flex justify-content-center">
        <form [formGroup]="form">
            <div class="form-check" >
                <input id="showGridCaptions" type="checkbox" class="form-check-input" formControlName="showGridCaptions">
                <label for="showGridCaptions" class="form-check-label">Show grid numbers</label>
            </div>
        </form>
    </div>
</div>
