<h3>Guardian and Observer Puzzles</h3>

<p class="mt-3">
    I am curretnly experiencing a problem downloading puzzles automatically from the Guardian Media websites.
    This includes the Guardian cryptics, Azed and Everymam. Until I can find out why requests to the Guardian
    websites
    are being refused you will need to download these puzzles manually.
</p>

<div class="mt-3">
    <ngb-alert type="info" [dismissible]="false">
        <p>
            To open a Guardian/Observer puzzle:
        </p>
        <ol>
            <li class="mt-3">Go to <a href="https://www.theguardian.com/crosswords" target="_blank">The Guardian website</a>
                and find the puzzle you want</li>
            <li class="mt-3"><div>
                Find and click the link named <b>PDF Version</b>
                <img class="d-block mt-2" src="assets/pdflink.png">
            </div></li>
            <li class="mt-3">In your PDF viewer save (or download) the file to your local hard drive</li>
            <li class="mt-3">Once you have downloaded the PDF file click the <b>Open a PDF</b> button below and follow the instructions</li>
        </ol>
    </ngb-alert>
</div>

<div class="mt-3">
    <div>I want to load a puzzle from a PDF file on my computer</div>
    <button class="btn btn-primary mt-3" (click)="onPdf()">Open a PDF</button>
</div>

<div class="mt-5">
    <ngb-alert type="info" [dismissible]="false">
        <p>
            <b>NOTE on Azed</b>
        </p>
        <p>
            On the Azed web page the link to show a PDF is confusingly named <b>Click here to access print version</b>.
            Don't panic, this link does exactly the same thing as the <b>PDF Version</b> link on the other crosswords.
            <img class="d-block mt-2" src="assets/azedpdflink.png">
        </p>
    </ngb-alert>
</div>

<div class="mt-5">
    <ngb-alert type="info" [dismissible]="false">
        <p>
            <b>NOTE on Quiptic</b>
        </p>
        <p>
            For some reason the <b>Guardian Quiptic</b> does not have a PDF link at all.
        </p>
        <p>
            To get a PDF for the Quiptic you will need to follow the <b>Print</b> link and then save/download the resulting page as a PDF using your browser's
            built-in PDF tool.  How you do this depends on your browser.
            <img class="d-block mt-2" src="assets/quipticpdflink.png">
        </p>
        <p>
            Using Opera browser choose the <b>Page</b> then <b>Save as PDF...</b> menu options
        </p>
        <p>
            Using Chrome on Windows 11 choose <b>Print</b> then select <b>Microsoft Print to PDF</b> as the destination
        </p>
        <p>
            For other browsers and operating systems you can read their help pages to find out more
        </p>
    </ngb-alert>
</div>