<h3>Guide to downloading PDF files</h3>
<p>
    Here is a guide to saving crossword puzzles as PDF files from the Internet.
</p>

<h5 class="mt-5">Step 1: Open the crossword on the provider's website and find the link to the PDF version...
</h5>
<p>The name and appearance of this varies from puzzle to puzzle.  Below are some examples.
</p>
<div class="row mb-5">
    <div class="col-4">
        <h6>Azed, Gemelo and Everyman</h6>
        <img class="d-block w-100 mt-3" src="assets/azedpdflink.png">
    </div>
    <div class="col-4">
        <h6>Guardian cryptic</h6>
        <img class="d-block w-100 mt-3" src="assets/crypticpdflink.png">
    </div>
    <div class="col-4">
        <h6>Financial Times</h6>
        <img class="d-block w-100 mt-3" src="assets/ftpdflink.png">
    </div>
</div>

<h5 class="mt-5">Step 2: The puzzle will normally open in your browser's PDF viewer, find the download button...  
</h5>
<p>The location and appearance of this varies.  This is what it looks like it looks like in the Opera web browser
</p>
<div class="row mb-5">
    <div class="col">
        <img class="d-block mt-3" src="assets/pdfdownloadbutton.png">
    </div>
</div>

<h5 class="mt-5">Step 3: In the "Save as" window give the file a memorable name and save it to a location you can find later.
</h5>
<p>The appearance of the "Save as" window varies, this is what it looks like in Windows 11
    <div class="row">
    <div class="col">
        <img class="d-block mt-3" src="assets/savepdf.png">
    </div>
</div>
