<h3>Puzzle Backup</h3>

<form class="form" [formGroup]="form">

    <div class="form-group">
        <label for="puzzle" class="form-label">Select the puzzle you want to back up</label>

        <select class="form-control" id="puzzle" formControlName="puzzle" (change)="onPuzzleChange()">
            <option *ngFor="let item of puzzles" [ngValue]="item">{{item.info.title}}</option>
        </select>
    </div>

    <ng-container *ngIf="form.value.puzzle">

        <div class="form-group">
            <label for="caption" class="form-label">Title for this backup</label>
            <app-validation-message [control]="$any(form.get('caption'))"></app-validation-message>
            <input type="text" id="caption" class="form-control" placeholder="un-named puzzle" formControlName="caption">
        </div>

        <div class="form-group">
            <label for="browser" class="form-label">Browser name</label>
            <app-validation-message [control]="$any(form.get('browser'))"></app-validation-message>
            <input type="text" id="browser" class="form-control" placeholder="eg Chrome" formControlName="browser">
        </div>

        <div class="form-group">
            <label for="computer" class="form-label">A name for this computer</label>
            <app-validation-message [control]="$any(form.get('computer'))"></app-validation-message>
            <input type="text" id="computer" class="form-control" placeholder="eg my laptop" formControlName="computer">

        </div>
    </ng-container>

    <div>
        <button type="button" class="btn btn-primary mr-3" [disabled]="!form.valid" (click)="onBackup()" *ngIf="form.value.puzzle">Backup</button>
        <button type="button" class="btn btn-primary" (click)="onCancel()">Cancel</button>
    </div>

</form>

