<div class="row mt-5" *ngIf="puzzle">
    <div class="col">
        <div>
            <h5>{{group}}</h5>
            <table>
                <tbody>
                    <tr *ngFor="let clue of clues" [ngClass]="{'bg-light': clue.highlight}">

                        <td *ngIf="!clue.highlight" class="align-top" (click)="onClueClick(clue)">{{clue.caption}}</td>
                        <td *ngIf="!clue.highlight" class="align-top" (click)="onClueClick(clue)">{{clue.text}}</td>

                        <td *ngIf="clue.highlight" class="align-top" colspan="2">
                            <app-edit-clue-form [showHelp]="false"></app-edit-clue-form>
                            <div class="mt-3 text-end">
                                <button type="button" class="btn btn-primary me-3" (click)="onSaveEdit()">Save</button>
                                <button type="button" class="btn btn-primary me-3" (click)="onCancelEdit()">Cancel</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>