<h3>Restore options</h3>

<ngb-alert class="mt-5" [dismissible]="false">
    <p>There is already a puzzle on this computer matching the one in this backup. You can replace the current puzzle, restore the backup alongside the existing 
        puzzle or cancel the operation.
    
</ngb-alert>

<p class="mt-5">What would you like to do?</p>
<div class="mt-3">
    <button type="button" class="btn btn-primary me-3" (click)="onReplace()">Restore and replace</button>
    <button type="button" class="btn btn-primary me-3" (click)="onKeep()">Restore as duplicate</button>
    <button type="button" class="btn btn-primary me-3" (click)="onCancel()">Cancel</button>
</div>