<div [formGroup]=form class="row" *ngIf="puzzle">
    <div class="col-lg-4">
        <div class="row">
            <div class="col">
                <h3>publish options</h3>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div>
                    Layout
                </div>

                <div class="form-check-inline">
                    <label class="form-check-label" for="layout1">
                        <input id="layout1" type="radio" class="form-check-input" value="table" formControlName="layout"> table
                    </label>
                </div>

                <div class="form-check-inline">
                    <label class="form-check-label" for="layout2">
                        <input id="layout2" type="radio" class="form-check-input" value="list" formControlName="layout"> list
                    </label>
                </div>
            </div>
        </div>
    
        <div class="row mt-3">
            <div class="col">
                <div>
                    Line Spacing
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="spacing1">
                        <input id="spacing1" type="radio" class="form-check-input" value="small" formControlName="spacing"> small
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="spacing2">
                        <input id="spacing2" type="radio" class="form-check-input" value="medium"  formControlName="spacing"> medium
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="spacing3">
                        <input id="spacing3" type="radio" class="form-check-input" value="large"  formControlName="spacing"> large
                    </label>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <label>
                    <input type="checkbox" formControlName="useThemeDefaults">
                    use fifteensquared theme colours
                </label>
            </div>
        </div>


        <div class="row mt-3" *ngIf="!form.value.useThemeDefaults">
            <div class="col">
                <div class="row">

                    <div class="col">
                        <div class="card">
                            <h5 class="card-header">Answer</h5>
                            <div class="card-body">
                                <app-text-style textStyleName="answer" caption="answer" formControlName="answerStyle">
                                </app-text-style>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <h5 class="card-header">Clue</h5>
                            <div class="card-body">
                                <app-text-style textStyleName="clue" caption="clue text" formControlName="clueStyle">
                                </app-text-style>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <h5 class="card-header">Definition</h5>
                            <div class="card-body">
                                <app-text-style textStyleName="definition" caption="definition"  formControlName="definitionStyle">
                                </app-text-style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <label>
                    <input type="checkbox" formControlName="showClueGroups">
                    show Across/Down headings
                </label>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <label>
                    <input type="checkbox"  formControlName="showClueCaptions">
                    show captions for clues
                </label>
            </div>
        </div>

        <div class="row mt-3" *ngIf="puzzle.grid">
            <div class="col">
                <label>
                    <input type="checkbox"  formControlName="includeGrid">
                    include grid image
                </label>
            </div>
        </div>

        <div class="row mt-3 mb-5" *ngIf="puzzle.grid && form.value.includeGrid">
            <div class="col">
                <button type="button" class="btn btn-outline-primary me-3" (click)="onGrid()">Colour the grid</button>
                <button type="button" class="btn btn-outline-primary" (click)="onNina()">Nina finder</button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <button type="button" class="btn btn-primary me-3" (click)="onContinue()">Continue</button>
                <button type="button" class="btn btn-primary me-3" (click)="onBack()">Back</button>
            </div>
        </div>

    </div>
    <div class="col-lg-8">
        <div class="row justify-content-center">
            <div class="col col-auto">
                <app-content-preview></app-content-preview>
            </div>
        </div>
    </div>
</div>