<div class="row">
    <div class="col">
        <h3>Import puzzles</h3>
    </div>
</div>

<p>
    You can load puzzles you have previously saved from your computer here.
</p>

<div class="row">
    <div class="col">
        <form [formGroup]="form" class="mt-3">

            <div class="">
                <input #file class="form-control" type="file" accept=".json" formControlName="file" (change)="onFileChange(file.files)">
                <label for="fileInput" class="form-label">Select a puzzle file</label>
            </div>

            <div class="form-group mt-5">
                <button class="btn btn-primary" type="button" (click)="onOpenPdf()" [disabled]="!form.valid">Open puzzle file</button>
            </div>
        </form>
    </div>
</div>
