<div class="row">
    <div class="col">
        <h3>Open puzzle from PDF</h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <form [formGroup]="form" class="mt-3">

            <div class="custom-file">
                <input #file class="custom-file-input" type="file" accept=".pdf" formControlName="file" (change)="onFileChange(file.files)">
                <label for="fileInput" class="custom-file-label">Choose a PDF file</label>
            </div>

            <div class="form-group mt-3">
                <label>
                    <input type="checkbox" formControlName="advancedOptions">
                    show advanced options
                </label>
            </div>

            <div [ngStyle]="{display: (form.value.advancedOptions ? 'block' : 'none')}">
                <div class="form-group">
                    <label for="gridPage" class="form-label">Grid will be found on page number</label>
                    <input id="gridPage" class="form-control" type="number" min="1" max="100" step="1" formControlName="gridPage">
                </div>
    
                <div class="form-group">
                    <label for="textPage" class="form-label">Text for the clues will be found on page number</label>
                    <input id="textPage" class="form-control" type="number" min="1" max="100" step="1" formControlName="textPage">
                </div>

                <div class="mt-3">
                    <app-provision-options-control formControlName="provisionOptions"></app-provision-options-control>
                </div>

            </div>

            <div class="form-group mt-5">
                <button class="btn btn-primary" type="button" (click)="onOpenPdf()">Open PDF</button>
            </div>
        </form>
    </div>
</div>
