<div class="row mt-3">
    <div class="col">
        <h3>More puzzles</h3>
    </div>
</div>

<app-info-panel>
    <p>
        You can load puzzles of your own here.
    </p><p>
        To open a puzzle in a PDF file you must first copy or download the PDF to a file on your computer. 
        If the PDF is laid out in fairly typical way, say that used in the Guardian for the FT,
        then the app should be able to automatically extract both the grid and clues form the text.
    </p><p>
        Alternatively, you can create the gid yourself and enter the clues as plain text. 
    </p>
</app-info-panel>
    
<div class="row mt-3">
    <div class="col">

        <div>I want to load a puzzle from a PDF file on my computer</div>
        <button class="btn btn-primary mt-3" (click)="onPdf()">Open a PDF</button>

        <div class="mt-5">I will enter the grid and clues myself as text</div>
        <button class="btn btn-primary mt-3" (click)="onLocal()">Clues from text</button>
    </div>
</div>
