<div class="row" *ngIf="isGuardianOrFT">
    <div class="col">
        <button class="btn btn-link inline px-0" (click)="onMessageClick()">Having problems? Try opening the pdf...</button>
    </div>
</div>

<div class="row my-5">
    <div class="col">
        <div class="card w-50  mx-auto text-center" *ngIf="provider && latest">
            <h5 class="card-header">Latest {{provider | provider}} puzzle</h5>
            <div class="card-body">
                <p *ngIf="latest.date" class="card-text">{{latest.date | date:'EEEE dd MMMM yyyy'}}</p>
                <p>
                    <span *ngIf="latest.serialNumber" class="card-text">{{latest.serialNumber | serialNumber}}</span>
                    <span *ngIf="latest.setter" class="card-text"> by {{latest.setter}}</span>
                </p>
                <button class="btn btn-primary" (click)="openPuzzle(latest)">Open</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3" *ngIf="archiveItems.length">
    <div class="col">
        <h5>Puzzles from the archive</h5>
        <table class="table">
            <tbody>
                <tr *ngFor="let item of archiveItems">
                    <td>{{item.serialNumber | serialNumber}}</td>
                    <td *ngIf="item.date">{{item.date | date:'EEEE dd MMMM yyyy'}}</td>
                    <td *ngIf="!item.date"></td>
                    <td *ngIf="item.setter">{{item.setter}}</td>
                    <td *ngIf="!item.setter"></td>
                    <td><button class="btn btn-primary" (click)="openPuzzle(item)">Open</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-3" *ngIf="provider && provider.startsWith('mycrossword')">
    <h5>Open a specific puzzle</h5>
    <app-info-panel [dismissable]="false" [type]="'info'">
        The list above shows only the featured puzzles from the Mycrosswords site.  Is the puzzle you want not listed here?  If you know the puzzle's type and serial number enter them below.
    </app-info-panel>
    <app-mycrossword></app-mycrossword>
</div>
