<div class="row" *ngIf="isGuardian">
    <div class="col text-end">
        <button class="btn btn-link inline px-0" (click)="onMessageClick()">Having problems? Try opening the pdf...</button>
    </div>
</div>

<div class="row my-5">
    <div class="col">
        <div class="card w-50  mx-auto text-center" *ngIf="provider && latest">
            <h5 class="card-header">Latest {{provider | provider}} puzzle</h5>
            <div class="card-body">
                <p *ngIf="latest.date" class="card-text">{{latest.date | date:'EEEE dd MMMM yyyy'}}</p>
                <p *ngIf="latest.serialNumber" class="card-text">{{latest.serialNumber | serialNumber}}</p>
                <button class="btn btn-primary" (click)="openPuzzle(latest)">Open</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3" *ngIf="archiveItems.length">
    <div class="col">
        <table class="table">
            <tbody>
                <tr>
                    <td colspan="3">
                        <h5>Puzzles from the archive</h5>
                    </td>
                </tr>
                <tr *ngFor="let item of archiveItems">
                    <td>{{item.serialNumber | serialNumber}}</td>
                    <td *ngIf="item.date">{{item.date | date:'EEEE dd MMMM yyyy'}}</td>
                    <td *ngIf="!item.date"></td>
                    <td><button class="btn btn-primary" (click)="openPuzzle(item)">Open</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
