<div class="modal-body" *ngIf="puzzle">

    <ng-container *ngIf="showTabs">

        <ul ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs" (navChange)="onNavChange($event)">

            <li ngbNavItem="ClueAnnotatorComponent">
                <a ngbNavLink>Solve and annotate</a>
                <ng-template ngbNavContent>
                    <app-clue-annotator-form (dirty)="onDirty()">
                    </app-clue-annotator-form>
                </ng-template>
            </li>

            <li ngbNavItem="ClueTextEditorComponent">
                <a ngbNavLink>Edit clue text</a>
                <ng-template ngbNavContent>
                    <app-edit-clue-form (dirty)="onDirty()"></app-edit-clue-form>
                </ng-template>
            </li>

            <li ngbNavItem="AddRemoveClueComponent">
                <a ngbNavLink>Remove this clue</a>
                <ng-template ngbNavContent>
                    <app-remove-clue-form (dirty)="onDirty()" (close)="onSave()"></app-remove-clue-form>
                </ng-template>
            </li>

        </ul>

        <div [ngbNavOutlet]="nav" class="my-3"></div>

    </ng-container>

    <ng-container *ngIf="!showTabs">
        <app-clue-annotator-form (dirty)="onDirty()"></app-clue-annotator-form>
    </ng-container>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark me-3" (click)="onSave()" [ngClass]="{ 'd-none': hideSaveCancelButtons }">Save</button>
    <button type="button" class="btn btn-outline-dark me-3" (click)="onCancel()" [ngClass]="{ 'd-none': hideSaveCancelButtons }">Discard</button>
    <button type="button" class="btn btn-outline-dark me-3" (click)="onClose()" [ngClass]="{ 'd-none': !hideSaveCancelButtons }">Close</button>
</div>
