<div class="row">
    <div class="col">
        <h3>Open puzzle from text</h3>
    </div>
</div>

<form [formGroup]="form" class="form mt-3">
    <app-provision-options-control formControlName="provisionOptions"></app-provision-options-control>

    <div class="row mt-3" *ngIf="parseError" >
        <div class="col form-group">
            <button type="button" class="btn btn-primary me-3" (click)="onAmend()" [disabled]="!form.valid">Try again</button>
            <button type="button" class="btn btn-primary" (click)="onCancel()">Cancel</button>
        </div>
    </div>

    <div *ngIf="parseError" class="mt-3">
        <app-parse-result [result]="parseError"></app-parse-result>

        <!-- <label><input type="checkbox" #showText [checked]="false"> Show the full text</label> -->

        <pre>{{puzzle.provision.source}}</pre>
    </div>

    <div class="row mt-5" *ngIf="!parseError">
        <div class="col">
            <label for="text" class="form-label">Paste the text for your clues here</label>
            <textarea id="text" class="form-control" rows="40" formControlName="text"></textarea>
        </div>
        <div class="col">
            <ng-container *ngTemplateOutlet="form.value.provisionOptions.captionStyle === 'numbered' ? plain : null"></ng-container>
            <ng-container *ngTemplateOutlet="form.value.provisionOptions.captionStyle === 'alphabetical' ? alphabetical : null"></ng-container>
            <ng-container *ngTemplateOutlet="form.value.provisionOptions.captionStyle === 'any' ? jigsaw : null"></ng-container>
        </div>
    </div>

    <div class="row mt-3"  *ngIf="!parseError">
        <div class="col form-group">
            <button type="button" class="btn btn-primary me-3" (click)="onParse()" [disabled]="!form.valid">Continue</button>
            <button type="button" class="btn btn-primary" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</form>

<ng-template #plain>
    <div class="row">
        <div class="col form-group">
            <app-tip key="specialText">
                <p>
                    The entry format is simple and based on that used by cyptics in a newspaper. In general, text cut-and-pasted from a newspaper website
                    should work here.
                </p>

                <h6>The 4 basic rules for entering clues are:</h6>
                <ul>
                    <li>Clues should start with the clue number</li>
                    <li>Clues should end with the letter count</li>
                    <li>The across clues are labelled "ACROSS"</li>
                    <li>The down clues are labelled "DOWN"</li>
                </ul>

                <h6>It is not essential, but it may help if you also:</h6>
                <ul>
                    <li>Remove line breaks so there is one clue per line</li>
                    <li>Remove unwanted text before the start of the clues</li>
                    <li>Remove unwanted text after the end of the clues</li>
                </ul>

                <h6>Basic Example:</h6>
                <pre class="bg-light">
ACROSS
1 Goodnight ladies (5)
2 Ladies goodnight (2, 4)
DOWN
3 This is a clue (2-2)
</pre>

                <h6>Some optional features for more complex clues are:</h6>
                <ul>
                    <li>Optionally, additional clue numbers may be added for linked clues, separated by commas</li>
                    <li>Optionally, numbers for linked clues may be supplemented with "across" or "down" to remove
                        ambiguity</li>
                    <li>Redirections should be of the form "See n" where n is the clue number</li>
                    <li>Optionally, redirection numbers can be supplemented with "across" or down" to remove
                        ambiguity
                    </li>
                </ul>

                <h6>Example with linked clues:</h6>
                <pre class="bg-light">
ACROSS
1,2 down,3 Life in the fast lane (8,2,2 4)
2 This is a clue (2, 4)
3 See 1
4 Another clue on its own (4)
DOWN
1 this is a clue (4)
2 See 1 across
</pre>

            </app-tip>
        </div>
    </div>
</ng-template>

<ng-template #alphabetical>
    <div class="row">
        <div class="col form-group">
            <app-tip key="specialText">

                <h6>The 4 basic rules for entering clues for an alphabetical jigsaw puzzle are:</h6>
                <ul>
                    <li>Clues should start with a capital letter</li>
                    <li>Clues should end with the letter count</li>
                </ul>

                <h6>You should also:</h6>
                <ul>
                    <li>Remove any ACROSS or DOWN labels</li>
                    <li>Remove unwanted text before the start of the clues</li>
                    <li>Remove unwanted text after the end of the clues</li>
                </ul>

                <pre class="bg-light">
A Goodnight ladies (5)
B Ladies goodnight (2, 4)
C This is a clue (2-2)
</pre>

            </app-tip>
        </div>
    </div>
</ng-template>

<ng-template #jigsaw>
    <div class="row">
        <div class="col form-group">
            <app-tip key="specialText">

                <h6>The 4 basic rules for entering untitled clues are:</h6>
                <ul>
                    <li>Clues should be unlabelled</li>
                    <li>Clues should end with the letter count</li>
                </ul>

                <h6>You should also:</h6>
                <ul>
                    <li>Remove unwanted text before the start of the clues</li>
                    <li>Remove unwanted text after the end of the clues</li>
                </ul>

                <pre class="bg-light">
Goodnight ladies (5)
Ladies goodnight (2, 4)
This is a clue (2-2)
</pre>

            </app-tip>
        </div>
    </div>
</ng-template>