<app-info-panel *ngIf="showHelp">
    <p>You can correct mistakes in the text of a clue here.
    </p><p>
        By changing the clue caption you can bind this clue to a different entry in the grid.
    </p>
</app-info-panel>

<form [formGroup]="form" *ngIf="clue">

    <app-clue-editor-control formControlName="edits"></app-clue-editor-control>

    <!-- <div class="row mt-3">
        <div class="col p-3">
            <button type="button" class="btn btn-primary" (click)="onSave()" [disabled]="!form.valid">Save</button>
        </div>
    </div> -->

</form>