<div *ngIf="appStatus && credentials" [ngClass]="{'container': !containerFluid, 'container-fluid': containerFluid}">

    <div class="row">
        <div class="col">

            <nav class="navbar navbar-expand-md navbar-dark bg-primary">

                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" (click)="onHome()">Home</a>
                    </li>
                </ul>
                <button class="navbar-toggler hidden-sm-up" type="button"
                    (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault"
                    aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item dropdown" ngbDropdown>
                            <button class="btn btn-link nav-link dropdown-toggle" id="id01" ngbDropdownToggle>Puzzles</button>
                            <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
                                <button class="dropdown-item btn btn-link" (click)="onArchive('azed')">Azed</button>
                                <button class="dropdown-item btn btn-link" (click)="onArchive('ft')">FT</button>
                                <button class="dropdown-item btn btn-link" (click)="onArchive('independent')">Independent</button>
                                <button class="dropdown-item btn btn-link" (click)="onArchive('cryptic')">Guardian</button>
                                <button class="dropdown-item btn btn-link" (click)="onArchive('prize')">Guardian Prize</button>
                                <button class="dropdown-item btn btn-link" (click)="onArchive('quiptic')">Guardian Quiptic</button>
                                <button class="dropdown-item btn btn-link" (click)="onArchive('everyman')">Everyman</button>
                                <button class="dropdown-item btn btn-link" (click)="onArchive('special')">More...</button>
                            </div>
                        </li>

                        <li class="nav-item dropdown" ngbDropdown>
                            <button class="btn btn-link nav-link dropdown-toggle" id="id02" ngbDropdownToggle>Grids</button>
                            <div class="dropdown-menu" aria-labelledby="id02" ngbDropdownMenu>
                                <button class="dropdown-item btn btn-link" (click)="onGrid()">New grid</button>
                                <button class="dropdown-item btn btn-link" (click)="onCarteBlanche()">Carte blanche tool</button>
                            </div>
                        </li>

                        <li class="nav-item">
                            <button type="button" class="nav-link btn btn-link" (click)="onGoTo('settings')">Settings</button>
                        </li>

                        <li class="nav-item">
                            <button type="button" class="nav-link btn btn-link" (click)="onGoToA('backups')">Backups</button>
                        </li>

                        <li class="nav-item" *ngIf="!credentials.authenticated">
                            <button type="button" class="nav-link btn btn-link" (click)="onGoTo('login')">Login</button>
                        </li>

                        <li class="nav-item" *ngIf="credentials.authenticated">
                            <button type="button" class="nav-link btn btn-link" (click)="onLogout()">Logout</button>
                        </li>
                    </ul>
                </div>
            </nav>

            <app-alert></app-alert>
        </div>
    </div>

    <router-outlet ></router-outlet>

</div>

<div class="row bg-light mt-5" *ngIf="settings.traceOutput">
    <div class="col">
        <h5>TRACE OUTPUT</h5>
    </div>
</div>
<div class="row bg-light" *ngIf="settings.traceOutput">
    <div class="col">
        <div>OUTPUT 1</div>
        <div *ngFor="let message of traceService.getTrace()">{{message}}</div>
    </div>

</div>
