<div class="row">
    <div class="col">
        <h3>Nina helper</h3>
        <p>This page provides information on the grid</p>
    </div>
</div>

<div class="row mt-3" *ngIf="puzzle">
    <div class="col-6">
        <app-grid-explorer (cellClick)="onCellClick($event)"></app-grid-explorer>
    </div>

    <div class="col-6">
        <div class="w-100" [formGroup]="form">

            <ul ngbNav #nav="ngbNav" [(activeId)]="activePanel" class="nav-tabs" (activeIdChange)="onTabChange()">
                <li [ngbNavItem]="'letterPanel'">
                    <a ngbNavLink>Letters used</a>
                    <ng-template ngbNavContent>
                        <p>click a letter in this table to see where it occurs in the grid</p>
                        <div class="grid-container p-0">
                            <div class="grid-item border border-dark p-0" *ngFor="let entry of pangramCounter"
                                (click)="onLetterClick(entry.letter)">
                                <div class="border-bottom border-dark p-2 fw-bold"
                                    [ngClass]="{'text-danger': !entry.count}">
                                    {{entry.letter}}</div>
                                <div class="p-2">{{entry.count || null}}</div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="'rowcolPanel'">
                    <a ngbNavLink>Rows and columns</a>
                    <ng-template ngbNavContent>
                        <p>Click on a cell in the grid to highlight the containing row and column</p>

                        <div class="btn-group" role="group" aria-label="Row or column choice">
                            <input type="radio" formControlName="rowcol" [value]="'row'" class="btn-check" id="btnradio4"
                                autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio4">row</label>

                            <input type="radio" formControlName="rowcol" [value]="'col'" class="btn-check" id="btnradio5"
                                autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio5">column</label>

                            <input type="radio" formControlName="rowcol" [value]="'both'" class="btn-check" id="btnradio6"
                                autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio6">both</label>
                        </div>

                    </ng-template>
                </li>

                <li [ngbNavItem]="'diagonalPanel'">
                    <a ngbNavLink>Diagonals</a>
                    <ng-template ngbNavContent>
                        <p>Click on a cell in the grid to highlight the containing diagonals</p>

                            <div class="btn-group" role="group" aria-label="Diagonal choice">
                                <input type="radio" formControlName="diagonal" [value]="'rising'" class="btn-check" id="btnradio1"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="btnradio1">rising diagonal</label>

                                <input type="radio" formControlName="diagonal" [value]="'falling'" class="btn-check" id="btnradio2"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="btnradio2">falling diagonal</label>

                                <input type="radio" formControlName="diagonal" [value]="'both'" class="btn-check" id="btnradio3"
                                    autocomplete="off">
                                <label class="btn btn-outline-primary" for="btnradio3">both</label>
                            </div>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>

        </div>


    </div>

    <div class="col">
        <div class="row" *ngIf="!barred">
            <div class="col">
                <div class="fw-bold">Main diagonal</div>
                <div class="wide">{{mainDiagonal}}</div>
            </div>
            <div class="col">
                <div class="fw-bold">Other diagonal</div>
                <div class="wide">{{otherDiagonal}}</div>
            </div>
        </div>

        <div class="row mt-3" *ngIf="!barred">
            <div class="col">
                <div class="fw-bold">Main diagonal (reversed)</div>
                <div class="wide">{{mainDiagonalReverse}}</div>
            </div>
            <div class="col">
                <div class="fw-bold">Other diagonal (reversed)</div>
                <div class="wide">{{otherDiagonalReverse}}</div>
            </div>
        </div>

        <div class="mt-3 fw-bold">Perimiter</div>
        <div class="wide">{{perimiter}}</div>

        <div class="mt-3 fw-bold">Perimiter (reversed)</div>
        <div class="wide">{{reverseString(perimiter)}}</div>

        <ng-container *ngIf="!barred">
            <div class="row">
                <div class="col">
                    <div class="mt-3 fw-bold">Unchecked rows</div>
                    <div *ngFor="let row of uncheckedRows" class="wide">{{row}}</div>
                </div>
                <div class="col">
                    <div class="mt-3 fw-bold">Unchecked rows (reversed)</div>
                    <div *ngFor="let row of uncheckedRowsR" class="wide">{{row}}</div>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <div class="mt-3 fw-bold">Unchecked columns</div>
                    <div *ngFor="let col of uncheckedColumns" class="wide">{{col}}</div>
                </div>
                <div class="col">
                    <div class="mt-3 fw-bold">Unchecked columns (reversed)</div>
                    <div *ngFor="let col of uncheckedColumnsR" class="wide">{{col}}</div>
                </div>
            </div>
        </ng-container>

        <div class="row mt-5" *ngIf="barred">
            <div class="col">
                <div class="fw-bold">Diagonals from top-left corner</div>
                <div class="wide font-monospace" *ngFor="let line of diagonals; let i = index"><span
                        [ngClass]="{'fw-bold': i % 2}">{{line}}</span></div>
            </div>

            <div class="col">
                <div class="fw-bold">(reversed)</div>
                <div class="wide font-monospace" *ngFor="let line of diagonals; let i = index"><span
                        [ngClass]="{'fw-bold': i % 2}">{{ reverseString(line) }}</span></div>
            </div>
        </div>

        <div class="row mt-5" *ngIf="barred">
            <div class="col">
                <div class="fw-bold">Diagonals from top-right corner</div>
                <div class="wide font-monospace" *ngFor="let line of diagonals2; let i = index"><span
                        [ngClass]="{'fw-bold': i % 2}">{{line}}</span></div>
            </div>

            <div class="col">
                <div class="fw-bold">(reversed)</div>
                <div class="wide font-monospace" *ngFor="let line of diagonals2; let i = index"><span
                        [ngClass]="{'fw-bold': i % 2}">{{ reverseString(line) }}</span></div>
            </div>
        </div>

    </div>
</div>

<div class="row mt-3" *ngIf="puzzle">
    <div class="col">
        <button type="button" class="btn btn-primary" (click)="onBack()">Back</button>
    </div>
</div>